.menuContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    font-weight: var(--font-weight-large);
}

.menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem;
}

.menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--foreground);
    transition: width 0.3s ease-in-out;
}

.menu:hover::after {
    width: 100%;
}