.emailLink {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem;
}

.emailLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--foreground);
    transition: width 0.3s ease-in-out;
}

.emailLink:hover::after {
    width: 100%;
}